.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 600px; 
    width: 450px;
    border-radius: 10px;
    position: absolute;
    margin-right: 10px;
    margin-bottom: 10px;
    bottom: 0;
    right: 0;
    float: right; 
    background-color: #005f92;
}

.wrapper {
    height: 70%; 
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.textContainer {
    height: 70px;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.cards {
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
